@{
    ViewData["Title"] = "Administration";
}
<h1>Администрация</h1>

<p>Визуално представяне на администрацията</p>

<a href="~/images/struct.jpg" class="fancybox" rel="ligthbox">
    <img src="~/images/struct.jpg" class="zoom img-fluid " alt="">
</a>
