@{
    ViewData["Title"] = "Важнна Информация";
}
<h1>Важнна Информация</h1>

<p></p>

<div>
    <a href="https://pazardzhik.bg/bg/informatsiya-za-avariyno-planirane">ИНФОРМАЦИЯ ЗА АВАРИЙНО ПЛАНИРАНЕ</a>
</div>

<div>
    <a href="https://pazardzhik.bg/bg/dostap-do-obshtestvena-informatsiya">ДОСТЪП ДО ОБЩЕСТВЕНА ИНФОРМАЦИЯ</a>

</div>

<div>
    <a href="https://pazardzhik.bg/bg/zakon-za-upravlenie-na-etazhna-sobstvenost">ЗАКОН ЗА УПРАВЛЕНИЕ НА ЕТАЖНА СОБСТВЕНОСТ</a>

</div>
<div>
    <a href="https://pazardzhik.bg/bg/zakon-za-turizma-informatsiya-dokumenti-i-saobshteniya">ЗАКОН ЗА ТУРИЗМА - ИНФОРМАЦИЯ, ДОКУМЕНТИ И СЪОБЩЕНИЯ</a>

</div>
<div>
    <a href="https://pazardzhik.bg/bg/transport">ТРАНСПОРТ</a>
</div>