@{
    ViewData["Title"] = "За нас";
}

<h1>Общинска Администрация</h1>
<p>
    <div>
        Дойранска епопея №12
    </div>
    <div>
        4550, Пещера, България
    </div>

    <div>
        ЕИК 000351736
    </div>

    <div>
        E-mail: secretary@peshtera.bg
    </div>
    <div>
        тел.: 034 44 55 01
    </div>
    <div>
        факс: 034 44 24 95
    </div>
</p>
<div className="col-lg-6 ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11853.731313897682!2d24.29715484895835!3d42.033898155059575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac986c152b2083%3A0xf7d2a655d0c9cd6e!2s4550%20Peshtera!5e0!3m2!1sen!2sbg!4v1651590302518!5m2!1sen!2sbg" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

