@{
    ViewData["Title"] = "Новинa";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@Model.Title</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Публикувано на Януари 1, 2022</div>           
                </header>

                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="@Model.Image" alt="..." /></figure>

                <!-- Post content-->
                <section class="mb-5">

                  @Html.Raw(Model.Description)
                
                </section>
            </article>
           
    </div>
</div>
