@{
    ViewData["Title"] = "Галерия";
}
<h1>@ViewData["Title"]</h1>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="~/js/Scripts/fancybox.js"></script>
    <link rel="stylesheet" href="~/css/c.css" asp-append-version="true" />

    <!-- Page Content -->
   <div class="container page-top">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/1.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/1.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/2.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/2.jpg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/3.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/3.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/4.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/4.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/5.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/5.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/6.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/6.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/7.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/7.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="~/images/8.jpg" class="fancybox" rel="ligthbox">
                    <img  src="~/images/8.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
       </div>
    </div>

